<h1>Ajouter un nouveau Club</h1>

<%= form_for(@club) do |c| %>

  <%= c.label :"Nom du club" %>
  <%= c.text_field :name, class: 'form-control'%>

  <%= c.submit "Valider", class: "btn btn-primary" %>
<% end %>
