<h1>Nouveau Commentaire</h1>
<p>Attention, le message est limité à 100 caractères.</p>

<% if user_signed_in? %>
    <%= form_for(@comment) do |com| %>
      <div class="field">
        <%= com.label :Commentaire %>
        <br>
        <%= com.text_field :content %>
      </div>
      <div class="actions">
        <%= com.submit "Envoyer"%>
      </div>
    <% end %>
<% end %>
