<h1>Liste des compétitions réalisées </h1>

<div class="title_w_bg">Compétitions</div>
<br>
<table class="tournament_list">
  <tr>
    <th>Tournoi</th>
    <th>Nombre de matchs</th>
    <th>Statut</th>
  </tr>
  <% @tournaments.each do |tournament| %>
  <br>
  <tr>
    <td><%= link_to tournament.name, tournament_path(tournament) %></td>
    <td><%= tournament.matches.count %></td>
    <td><%= tournament.finished ? "Terminé" : "En cours" %></td>
  </tr>
  <% end %>
</table>
<br><br>
<%= link_to "Nouvelle compétition", new_tournament_path %>
