<h1> Créer un nouveau joueur </h1>

<%= form_for(@player) do |f| %>

  <div class="field">
    <%= f.label :Pseudo %>
    <%= f.text_field :pseudo %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
