<h1>Matches#show</h1>

<p>Equipe 1: <%= @home_team.name %>
<br>Score : <%= @home_team.score %></p>
</p>
<br>
<p>Equipe 2: <%= @visiting_team.name %>
<br>Score : <%= @visiting_team.score %></p>
</p>
<br>




<p> <a href="/">Retourner à l'accueil</a> </p>
