/* ------ GLOBAL ------ */

body {
  // font-family: 'Libre Franklin', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
.container {
}

/* ------ HEADER ------ */
.navbar {
  background-color: white;
  position: relative;
  top: 0px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9;


}
.navbar-fixed {
  background-color: white;
  border-bottom: #D61E00 7px solid;
}
.container-wfixednav{
  padding-top: 57px;
}

#site_title{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 80px;
  line-height: 100px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  padding-top: 10px;
  a { color: #D61E00; text-decoration: none;}
}

#site_title_fixed{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 15px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  a { color: #D61E00; text-decoration: none;}
}

nav {
  display: inline-block;
  width: 98%;
  padding: 0 1%;
  border-bottom: #D61E00 7px solid;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0;
  padding-left: 0;
}

nav ul div{
  display: inline-flex;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  padding: 0 1%;
}

.mobile-menu, .menu-symbol{
  display: none;
}

nav ul li{
  list-style: none;
  padding: 15px 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover { color: grey;}

.dropdown-menu{
		display: none;
}
.dropdown:hover{
  .dropdown-menu{
    right: 8px;
    position: absolute;
    display: block;
    margin-top: 15px;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
  }
}

/* Sous-Menus */

.main-menu .sous_menu{
  display: none;
}

.main-menu .principal_item:hover{
  .sous_menu{
      display: block;
      position: absolute;
      width: 170px;
      height: auto;
      background-color: whitesmoke;
      margin-top: 15px;
      margin-left: -10px;
      border: #D61E00 1px dotted;
      li:hover {
        background-color: #D61E00;
        a {color: white !important;}
      }
  }
}


/* Menu on mobile */

@media only screen and (max-width: 600px) {
  .main-menu{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    height: 50px;
  }
  #site_title_mobile{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    padding-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    border-bottom: #D61E00 7px solid;
    background-color: white;
    a { color: #D61E00; text-decoration: none;}
    li { font-size: 16px;
      a {
        color: white;
      }
    }
  }
  .menu-symbol{
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: large;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin: 0;
    padding: 0 10px;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);
    height: auto;
    position: absolute;
    width: 100%;
    top: 57px;
    right: 0;
  }
  .mobile-menu a{
    color: white;
  }

}

/* ------ FOOTER ------ */

footer {
  background-color: black;
  border-top: #D61E00 7px solid;
  position: relative;
  bottom: 0px;
  right: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  margin-top: 60px;
  color: white;
  text-align: center;
}

footer a{
  color: white;
  text-decoration: none;
}



/* ------ CONTENT ------ */

.main_content {
  min-height: 100vh;
  max-width: 1100px;
  margin: auto;
  padding: 0px 15px;
  margin-top: 50px;
}

.main_content_4_8 {
  display: flex;
}

@media only screen and (min-width: 601px) {
  .main_left{
    width: 65%;
    min-width: 700px;
  }

  .main_right{
    width: 35%;
    min-width: 300px;
    padding-left: 20px;
  }
}

/* ------ UNE Mobile ------ */
@media only screen and (max-width: 600px) {
  .main_content {
    margin: auto;
    padding: 0px;
  }
  .main_content_4_8 {
    display: flex;
    flex-direction: column;
  }

  .main_left{
    width: 100vw;
  }

  .main_right{
    width: 98vw;
  }

  .mobile-content_une{
      padding: 0 10px 0 5px !important;
  }

}

.title_w_bg{
  margin-top: 12px;
  background: black;
  height: 28px;
  line-height: 31px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 2px 35px 2px 9px;
  margin-bottom: 15px;
  display: inline-block;
}

/* Image a la Une */

.title_une {
  position: absolute;
  margin: auto;
  padding: 0px 0px 5px 9px;
  line-height: 33px;
}
.title_tournament{
  padding: 0 20px 0 10px;
  display: inline-block;
  margin-left: 25px;
  background-color: #606060;
}
.title_journee{
  padding: 0 20px 0 10px;
  margin-left: -4px;
  display: inline-block;
  background-color: rgb(204, 204, 204);
  color: black;
}

.image_une {
  height: 400px;
  width: 700px;
  overflow: hidden;
}
.image_une img {
  min-height: 400px;
  max-width: 105%;
  height: auto;
}

.score_une {
  height: 60px;
  width: 700px;
  padding: 0 50px;
  box-sizing: border-box;

  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grostitre_une{
  background-color: #202020;
  position: relative;
  display: block;
  padding: 12px;
  min-height: 60px;
  color: rgb(144, 144, 144);
  text-align: center;
}
.grostitre{
  font-size: 28px;
  font-family: "Sans";
  line-height: 28px;
  font-weight: 800;
  margin-top: 10px;
  text-transform: uppercase;
  padding-bottom: 7px;
}
 .grostitre_mobile{
   color: white;
   font-size: 22px;
   font-family: "Sans";
   line-height: 22px;
   font-weight: 700;
   margin-top: 10px;
   text-transform: uppercase;
 }

/* ------ UNE Mobile ------ */
@media only screen and (max-width: 600px) {
   .image_une {
     height: 205px;
     width: 100vw;
   }
   .image_une img {
     min-height: 200px;
   }
   .score_une {
     height: 60px;
     width: 100vw;
     padding: 0 5px;
     box-sizing: border-box;

     background-color: black;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

}
.mobile-player_une {
  display: inline-flex;
  justify-content: space-around;
  width: 33%;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .mobile-player_une {
    display: flex;
    flex-direction: column;
  }
}

.score_une .tab_player{
  font-weight: bold;
  font-size: 20px;
}
.score_une .tab_score_une {
  display: inline-flex;
  position: relative;
  padding: 0 2px;
}
.score_une .tab_score_une div{
  padding: 15px 20px;
  margin: 0 2px;
  font-size: 26px;
  font-weight: bold;
  background-color: #404040;
  color: white;
}

.score_une .winner {
  background-color: #fffaf2 !important;
  color: black !important;
}



.match_une_links {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  a { text-decoration: none;
    color: black;
    width: 50%;
  }
  a:hover {color: grey;}

}



/* Tableau des rencontres */
@media only screen and (min-width: 980px) {
  .scoreboard{
    min-width: 600px;
    a {text-decoration: none;}
  }
}
  .scoreboard{
    padding-bottom: 30px;
  }
  .scoreboard tr{
    text-align: center;
  }
  .scoreboard tr:not(:first-child){
    height: 50px;
  }
  .scoreboard tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.statuswinner{
  font-weight: bold;
}


.tab_score {
  padding: 5px 10px 5px;
  font-size: 24px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .tab_score {
    padding: 5px 2px 5px;
    font-size: initial !important;
  }
  .scoreboard {
    width: 100vw;
    padding: 0 10px 0 0px;
  }
}
.scoreboard .tab_score_prol {
  padding-top: 5px;
  font-size: 15px;
}


.tab_player {
}
.tab_player a {
  text-decoration: none;
  font-weight: bold;
  color: black
}

/* Tableau - Classement des joueurs */
.leaderboard{
  padding-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .leaderboard{
    width: 100vw;

  }
}

.leaderboard tr:not(:first-child){
  height: 40px;
}
.leaderboard th{
  font-weight: normal;
}

.leaderboard td, .leaderboard tr{
  border-bottom: 1px lightgrey solid;
}

.leaderboard td{ text-align: center; }

@media only screen and (min-width: 601px) {
  .leaderboard td{ min-width: 30px; }

  .leaderboard td:nth-child(2){ width: 100px; }
  .leaderboard td:nth-child(3){ width: 50px; }
}

.leaderboard .lb_br {
  border-right : 1px lightgrey solid;
}
.leaderboard .lb_br_big {
  border-right : 4px grey solid;
  padding-right: 10px;
  margin-right: 10px;
}


.leaderboard .lead_team{
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  a {text-decoration: none; color: inherit;}
}



ul.list_rules{
  padding: 0;
  margin-top: 0;
}

.list_rules li{
  list-style: none;
}

.commentboard {
    width: 100%;
    max-width: 400px;
    word-break: break-all;
}
.commentboard tr{
  height: 30px;
}
.commentboard tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.commentboard td:first-child{
  width: 33px;
}
.comment_time {
  font-size: 12px;
  color: grey;
  padding-left: 5px;
}
.comment_user{
  font-weight: bold;
  font-size: 14px;
}

.new_comment { padding-bottom: 10px; }
.new_comment .actions, .new_comment .field{
  display: inline-block;
}

#comment_content {
    width: 280px;
}
