// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagy-bootstrap-nav{
  position: relative !important;
}

/* Entete profil match */
.match_entete{
  font-size: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.match_entete_teams{
  width: 100%;
  display: flex;
}
.match_entete_team_one, .match_entete_team_two{
  height: 75px;
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0 30px;
}
.match_entete_team_one{ justify-content: end;}

.match_entete_bas{
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  .match_entete_bas_d, .match_entete_bas_g { width: 100px; }
}
.match_picture{
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match_tab_score{
  width: 180px;
  height: 76px;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .tab_score_prol {
    font-size: 20px;
    line-height: 20px;
  }
}
.match_tab_player{
  background-color: white;
  font-size: 28px;
  text-align: center;
  min-width: 190px;
  height: 76px;
  line-height: 76px;
}
@media only screen and (max-width: 600px) {
  .match_picture{
    width: 100%;
    max-height: 60vh;
  }
  .match_tab_player{
    font-size: 20px;
    min-width: 30%;
    height: 76px;
    line-height: 76px;
  }
  .match_tab_score{
    font-size: 28px !important;
  }
  .tab_score_prol {
    font-size: 12px !important;
    line-height: 20px;
  }
}


/* NEW match */
.new_match_bloc{
  background-color: black;
  background-image: image-url("/assets/clubs/noclub.jpg");
  color: white;
  text-align: center;
  padding: 10px;
}
.new_match_context select{
  width: 50%;
  text-align: center;
}
.new_match_team{
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
    .new_match_team_bloc:nth-child(1) {
      text-align: right;
    }
    .new_match_team_bloc:nth-child(2) {
      text-align: left;
      div {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: flex-end;
      }
      label { padding: 0 5px;}
    }
    .new_match_team_bloc_score input{
      width: 85px;
      height: 90px;
      font-size: 80px;
      text-align: center;
      font-weight: bold;
      vertical-align: middle;
    }
    .new_match_team_bloc_score_prol input{
      font-size: 25px;
      width: 50px;
    }
    .new_match_team_bloc_club select{
      font-size: 26px;
      text-align: center;
      min-width: 280px;
      background-color: black;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      padding: 2px;
    }
}
