// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Tournament - Tableau Règles nouvelle compétition */
.tab_tournament_rules{
  label{ width: 200px;}
  input{ width: 20px;}
}

/* Tournament - Tableau Règles nouvelle compétition */
.tournament_list tr{
  height: 30px;
}
.tournament_list tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.tournament_list th:first-child,
.tournament_list th:last-child {
  width: 150px;
}

.tournament_list{
  td{
    min-width: 70px;
  }
  td:first-child{
    padding-left: 3px;
  }
  td:not(:first-child){
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #D61E00;
  }
  .add_tournament{
    background-color: grey;
    a {
      text-decoration: none;
      color: white;
    }
  }
}


.cup_team {
    padding: 5px;
    border: 1px grey solid;
    width: 100px;
    margin-bottom: 5px;
}
.cup_team:nth-child(2n+0) {
}

.cup_match{
    margin-bottom: 30px;
}
.cup_round{
  width: 20%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
